<% provide(:title, "About") %>
<h1>About</h1>
<p>


	The Ruby-on-Rails SuperMarket is a website made by <a herf="www.linkedin.com/in/dretta">Daniel Retta</a>. The template used for this website came from the <a href="http://railstutorial.org/">Ruby-on-Rails Tutorial</a>, made by 
	<a herf="http://www.michaelhartl.com/">Michael Hartl</a>
</p>