!!!
%html
  %head
    %title Rails and React III: Communication between components
    = include_gon
    %link{href: "https://fonts.googleapis.com/css?family=Fjalla+One|Average+Sans", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #main_wrapper
      %section
  		%header
    		%h1 Rails and React II: A real use case

  		= react_component 'PeopleSection', {}, :div
    %footer#main_footer
      %small
        Crafted with ♥ by
        %a{href: "http://twitter.com/bigardone", target:"_blank"} bigardone
        %br/
        Check out the
        %a{href: "https://github.com/bigardone/rails_and_react/tree/feature/part_three", target: '_blank'} source code


<!-- -->








<!--
%section
  %header
    %h1 Rails and React II: A real use case

  = react_component 'PeopleSection', {}, :div
-->
<!--
<% provide(:title, 'All Items') %>

<h1>All items</h1>


<% if  @current_user && @current_user.admin? %>
	<h2>
		<%= link_to "Create New Item",new_item_path %>
	</h2>	
<% end %>


<%= will_paginate %>

<ul class="items">
 	<%= render @items %>
</ul>

<%= will_paginate %>
-->